// Breadcrumps
.breadcrumps {
  padding-top: 30px;
  padding-bottom: 40px;  
  &__wrapper {
    display: flex;
  }
  a { 
    font-size: 14px;
    line-height: 19px;
    color: $blue-color;
    &:last-child {        
      font-size: 14px;
      line-height: 19px;  
      color: $main-color;
      &:hover {
        color: $main-color;
      }
    }
    &:not(:last-child) {
      margin-right: 7px;
      display: flex;
      align-items: center;
      &::after {       
        margin-left: 7px; 
        content: '';
        display: block;
        width: 6px;
        height: 8px;
        background: url('@img/breadcrumps/arrow-right.svg') no-repeat center center / 100%;
      }    
    }
    &:hover {
      color: $blue-color;
    }
  }
	@media (max-width: 991px){
		display: none;
	} 
}