// btn
.btn {
  padding: 14px 0;
  width: 152px;
  line-height: 21px;
  border-radius: 25px;
  transition: opacity 0.2s linear;
  @media (max-width: 991px){
    padding: 8px 0;
    font-weight: $medium;
    font-size: 15px;
    width: 130px;    
  }
}
.intro__btn {  
  color: $blue-color;
  border: 2px solid $blue-light-color;  
  &:hover {
    color: $blue-color;
  }
  @media (max-width: 991px){
    border: 1px solid $blue-light-color;  
  }
}
.about-main__btn {
  background-color: $blue-color;
  color: $white-color;
  &:hover {
    color: $white-color;
  }
}
.vacancies-main__item-btn {
  font-weight: $medium;
  padding: 10px 0;
  font-size: 15px;
  line-height: 18px;
  border-radius: 20px;
  color: $white-color;
  width: 120px;
  text-align: center;
  transition: opacity 0.2s linear;
  background-color: $red-color;
  &:hover {
    color: $white-color;
  }
}
.vacancies-main__btn { 
  font-weight: $medium;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  color: $blue-color;
  margin-top: 45px;
  &:hover {
    color: $blue-color;
  }
}
.blog__btn {
  margin-top: 45px;
  font-weight: $medium;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  color: $blue-color;
  margin-top: 45px;
  &:hover {
    color: $blue-color;
  }
}
.footer__btn {
  margin-right: 40px;
  text-align: center;
  padding: 11px 0;
  width: 132px; 
  background: $blue-color;
  color: $white-color;
  border-radius: 20px;
  &:hover {
    color: $white-color;
  }
}
.services-card__btn {
  width: fit-content;
  position: static;
  padding: 10px 20px;
  text-align: center;
  color: $white-color;
  font-weight: $medium;
  font-size: 15px;
  line-height: 18px;   
  background: #D63E45;
  border-radius: 20px;
  &:hover {
    color: $white-color;
  }
}
.complects__btn {
  width: fit-content;
  padding: 13px 43px;
  font-weight: $bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 45px auto 0;
  background: #D63E45;
  border-radius: 25px;
  &:hover {
    color: $white-color;
  }
}
.questions__form-btn {  
  font-weight: $bold;
  font-size: 16px;
  padding: 18px 49px;
  line-height: 19px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  background: #008393;
  border-radius: 25px;
  margin-top: 25px;
  transition: opacity 0.2s linear;
  &:hover {
    color: $white-color;
    opacity: 0.8;
  }
}
.vacancy__btn-all {
  padding-top: 30px;
  font-weight: $medium;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #008393;
  padding-left: 35px;
  margin-bottom: 30px;
  &:hover {
    color: #008393;
  }
}

