.questions {  
  position: relative;
  background-color: #61BEC3;  
  padding-bottom: 45px;
  padding-top: 45px;
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(49, 164, 169, 0.5) 0%, rgba(97, 190, 195, 0) 100%),url('@img/questions/questions-bg.png');
    opacity: 20%;
    width: 100%;
    height: 100%;
  }
  &__form {
    position: relative;
    margin: 0 auto;
    max-width: 720px;
    z-index: 1;
    opacity: 1;
    &-title {   
      z-index: 1;
      font-weight: $medium;
      font-size: 26px;      
      letter-spacing: 0.03em;
      color: #FFFFFF;
      margin-bottom: 25px;
			@media (max-width: 991px){
				font-weight: $regular;
				font-size: 24px;
				line-height: 36px;				
			}		
      @media (max-width: 575px){
				margin-bottom: 0;	
        width: 350px;
			}		
    }
    .col-12, .col {
      padding: 0;
    }
    textarea {   
      background-color: #fff;
      width: 100%;
      border-radius: 12px;
      font-weight: $light;
      font-size: 18px;
      line-height: 26px;
      color: rgba(54, 54, 54, 0.6);     
      height: auto!important;
      border: none;
      &:focus {
        box-shadow: none;
        border: none;
        outline: none;
        padding-top: 1.625rem;
        padding-bottom: 0.39rem!important;      
      }
			@media (max-width: 575px){
				height: 102px!important;
			}
    }  
    .input-wrapper.first {
      margin-right: 5px;
			@media (max-width: 575px){
				margin-right: 0;
			}
    }
    .input-wrapper {
      margin-bottom: 5px;
      label {
        border-radius: 12px;
        font-weight: $light;
        font-size: 18px;
        line-height: 26px;
        color: rgba(54, 54, 54, 0.6);
        &:focus {
          box-shadow: none;
          border: none;
          outline: none;       
        }
      }  
      input {
        border: none;
        border-radius: 12px;
        &:focus {
          box-shadow: none;
          border: none;
          outline: none;         
        }
      }       
    }
		@media (max-width: 575px){
		padding: 20px 20px 0 20px;
		}
  }
}


