// Specifications
html,
body {
	height: 100%;
	box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 30px;
  color: $main-color;
  font-family: $font-family;
  font-size: 18px ;
  font-weight: $regular;  
  @media (max-width: 991px){
    font-size: 14px;
    font-weight: $light;
    line-height: 22px;
  }
}
body.hidden {
  overflow: hidden
}
section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media (max-width: 991px){
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.section-title {
  margin-bottom: 45px;
	@media (max-width: 991px){     
		margin-bottom: 30px;
	}
}
.section-subtitle {
  margin-bottom: 30px;
  @media (max-width: 991px){
    margin-bottom: 20px;
  }
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
.container {
  @media (max-width: 575px){
    padding: 0 20px;
  }
}
h1, h2, h3, h4, h5, h6 {  
  font-family: $font-family;
  font-weight: $regular;
  color: $main-color;
}
h1 {
  font-weight: $light;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: 0.02em;
  span {
    font-weight: $regular;
    color: $red-color;
  }
  @media (max-width: 991px){
    font-size: 30px;
    line-height: 36px;
    max-width: 320px;
    margin-bottom: 14px;
  }
}
h2 { 
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.02em;
  span {   
    color: $red-color;
  }
  @media (max-width: 991px){
    font-size: 24px;
    line-height: 36px;
  }
}
h3 {  
  font-weight: $medium;
  font-size: 18px;
  line-height: 21px;  
  letter-spacing: 0.04em;
  text-transform: uppercase;
  @media (max-width: 991px){  
    font-size: 14px;
    line-height: 20px;
  }  
}
.button-prev {
  position: absolute;
  top: 150px;
  left: 0;
  cursor: pointer;
  transition: opacity 0.3s linear;
  &:hover {
    opacity: 0.8;
  }
	@media (max-width: 1420px){  
    left: 20px;
  } 
	@media (max-width: 1330px){  
    display: none;
  }  
}
.button-next {
  position: absolute;
  top: 150px;
  right: 0;
  cursor: pointer;
  transition: opacity 0.3s linear;
  &:hover {
    opacity: 0.8;
  }
	@media (max-width: 1420px){  
    right: 20px;
  }  
	@media (max-width: 1330px){  
    display: none;
  } 
}
.swiper-pagination {
  position: relative;  
  width: fit-content!important;
  bottom: 227px!important;
  left: -16px!important;
	@media (max-width: 991px){  
    bottom: 125px!important;
  }  
	@media (max-width: 575px){  
    left: 0px!important;
  } 
}
.swiper-pagination-bullet {
  width: 60px;
  height: 3px;
  opacity: 1;
  background: #61BEC4;
  border-radius: 0;
	@media (max-width: 991px){  
		width: 30px;
  }  
}
.swiper-pagination-bullet-active {
  height: 5px;
  background: #008393;
  width: 60px;
	@media (max-width: 991px){  
		width: 30px;
  }  
}
.service-title {
  font-weight: $light;
  font-size: 52px;
  line-height: 56px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 90px;
	@media (max-width: 991px){
		font-size: 30px;
		line-height: 36px;
		margin-bottom: 30px;
	}
}
.service-card {
  margin-bottom: 60px;
  text-align: center;
  &__title {  
    font-weight: $bold;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    max-width: 284px;
    margin: 0 auto;
		@media (max-width: 991px){
			font-weight: 600;
			font-size: 14px;
			line-height: 24px;
		}	
  }
	&__descr {
		display: none;
		@media (max-width: 991px){
			display: block;
			margin-top: 10px;
		}
	}
  img {
    margin: 0 auto 30px;
		@media (max-width: 991px){
			min-height: 64px;
		}
  }
}





