// contacts
.contacts {
  overflow: hidden;
  border-top: 1px solid #CFEDF1;
  background-color: #fafafa;
  &__title {
    margin-bottom: 60px;
		@media (max-width: 991px){
      margin: 0 auto 30px;			
      max-width: 720px;
      padding: 0 20px;			
		}
    @media (max-width: 767px){
      max-width: 540px;     
      margin: 0 auto 30px;			
    }
  }
  &__map {
    width: 100%;
    height: 360px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__item {		
    &-content {
      margin-top: 15px;
      margin-bottom: 30px;
      p {   
        font-size: 18px;
        line-height: 30px;
        color: $main-light-color;
      }
    }
    &-title {     
      font-weight: $bold;
      font-size: 18px;
      line-height: 26px;      
    }
    a {
      font-weight: $bold;
      font-size: 24px;
      line-height: 28px;
    }
		@media (max-width: 991px){
      margin: 0 auto 30px;			
      max-width: 720px;
      padding: 0 20px;
		}
    @media (max-width: 767px){
      max-width: 540px;
      margin: 0 auto 30px;			
    }

  }
  @media (max-width: 991px){
    padding-bottom: 0;    
  }  
}
.contacts__item-content.right {
  height: 122px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.communication {
  padding-bottom: 0;
  padding-top: 0;
  background-color: #fafafa;
  &__title {   
    font-weight: $light;
    font-size: 52px;
    line-height: 56px; 
    letter-spacing: 0.03em;
    margin-bottom: 60px; 		
		@media (max-width: 991px){
			font-size: 30px;
			margin-bottom: 30px;
			line-height: 40px;
		}		
  }
  &__item {
    margin-bottom: 60px;
    &-title {     
      font-weight: $medium;
      font-size: 18px;
      line-height: 21px;   
      letter-spacing: 0.04em;
      text-transform: uppercase; 
      color: #008393;
      margin-bottom: 20px;
    }
    span {  
      font-weight: $regular;
      font-size: 18px;
      line-height: 30px; 
      color: #6F6F6F;
      display: block;
      margin-bottom: 15px;
    }
		@media (max-width: 991px){		
			margin-bottom: 30px;
		}		
  }
  &__map {
    margin-top: 60px;
		@media (max-width: 991px){		
			margin-top: 0;
		}		
  }
  &__map-img {
    height: 420px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .contacts__item-title {
    color: #008393;
  }
	.socials {
		@media (max-width: 991px){		
			margin-bottom: 30px;
		}		
	}
	@media (max-width: 991px){
		padding-top: 30px;
	}
}
.fluid-991 {
  @media (max-width: 991px){
    max-width: 100%;
    padding: 0;
  }
}
.p-991-0 {
  @media (max-width: 991px){
    padding: 0;
  }
}