// Header
.header {
  padding: 10px 0;
  &__right {
    padding: 30px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    // height: 130px;
    @media (max-width: 575px){
      padding-top: 0;
      justify-content: center;
      padding-bottom: 0;
    }
  }
  &__contacts {
    display: flex;
    margin-bottom: 36px;
    justify-content: flex-end;
    a {     
      font-weight: $bold;
      font-size: 22px;
      line-height: 24px;  
      transition: box-shadow .2s linear;
      &:hover {
        box-shadow: -1px 6px 8px -6px rgb(61 186 203 / 35%);
      }
    }
    @media (max-width: 575px){
      margin-bottom: 0;
    }
  }
  &__nav {
    &.open {
      transition: opacity 0.2s;
      visibility: visible;
      opacity: 1;
      height: 100vh;
      z-index: 2;
      opacity: 1;  
    }
    @media (max-width: 991px) {        
      position: fixed;
      display: flex;
      justify-content: center; 
      flex-direction: column;
      width: 100%;
      height: 0;
      visibility: hidden;
      opacity: 0;        
      left: 0;
      top: 0;
      background-color: rgba(0, 131, 147, .95);
    }
    ul {      
      display: flex;
      justify-content: flex-end;     
      @media (max-width: 991px) {        
        flex-direction: column;
        align-items: center;   
        justify-content: center;          
      }
    }
    li {
      &:not(:last-child){
        margin-right: 30px;
        @media (max-width: 991px){
          margin-bottom: 15px;
          margin-right: 0;
        }
      }
      transition: box-shadow .2s linear;
      &:hover {
        box-shadow: -1px 6px 8px -6px rgb(61 186 203 / 35%);
      }
    }
    ul>li>a {   
      font-weight: $medium;
      font-size: 16px;
      line-height: 19px;    
      letter-spacing: 0.04em;
      text-transform: uppercase;
      &:hover {
        color: #000;
        opacity: 1;        
      }
      @media (max-width: 1199px) {
        font-size: 15px;        
      }
      @media (max-width: 991px) {
        font-weight: 700;
        text-align: center;   
      }      
    }
  }
  &--fixed {
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 2;
  }
  .socials {
    margin-left: 40px;
  }
}
.logo {
  @media (max-width: 575px){
    width: 89px;
  }
}
.top-bun, .meat, .bottom-bun {
  opacity: 1;
}
.top-bun.active,
.meat.active,
.bottom-bun.active {
  opacity: 0;
}
.mobile-phone { 
  margin-top: 15px;
  font-weight: $bold;
  font-size: 22px;
  line-height: 24px;
}
.header__nav {
  .socials__item:not(:last-child) {
    margin-bottom: 0!important;
    margin-right: 10px;
  }
  .socials__list {
    flex-direction: row;
  }
  .socials {
    margin-left: 0;
    margin-top: 15px;
  }
}
.d-none-imp {
  display: none!important;
}
