// repair
.intro-repair {
  padding-bottom: 25px;
  padding-top: 0;
  &__title {
    max-width: 325px; 
    font-size: 72px;
    line-height: 72px;
    letter-spacing: 0.02em;
		@media (max-width: 991px){
			font-size: 30px;
			line-height: 36px;
			max-width: 320px;
			margin-bottom: 30px
		}
  }
	&__img {
		@media (max-width: 991px){
      width: 500px;
    } 
	}
}
.repair-slide {
  padding-bottom: 70px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__offer {
    padding-top: 35px;
		@media (max-width: 991px){
      background-size: 480px!important;
    } 
		@media (max-width: 575px){
      padding-top: 10px;
    } 
  }
}
.repair-slide-arrow-wrapper {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}
.repair {
  padding-top: 0;
  margin-bottom: -173px;
  background: url('@img/advantages/advantages-bg.svg') no-repeat top center / cover;
  &__wrapper {
    z-index: 1;
    padding-top: 45px;
    position: relative;
    top: -185px;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(89, 187, 199, 0.1);
    border-radius: 30px;
    @media (max-width: 1199px){
      top: -120px;
    }
    
  }
  @media (max-width: 1199px){
    margin-bottom: -117px;
  }
}