// statistic
.statistic {
  &__wrapper {
    box-shadow: 0px 0px 16px rgba(89, 187, 199, 0.1);
    border-radius: 30px;
    padding: 25px 0;
    position: relative;
    background: #fff;
    top: -86px;
    @media (max-width: 767px){
     top: -53px;
     padding-bottom: 0;
    }
  }
  &__num {
    font-weight: $bold;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    color: $red-color;
    @media (max-width: 991px){
      font-size: 48px;
      line-height: 56px;
    }
  }
  &__title {   
    font-weight: $light;
    font-size: 22px;
    line-height: 26px;  
    color: $blue-color;
    text-align: center;
    @media (max-width: 991px){
      margin-bottom: 30px;
      font-size: 15px;
      line-height: 18px;
    }
  }
}